body {
  background-color: #f8f9fa;
  color: black;
}

.profile-area {
  background-color: #fff;
  box-shadow: -4px -4px 5px 2px #595659;
}

a,
.accordion,
.social-icons * {
  color: #002266;
}

.skillbar {
  background-color: #fff;
  border: solid 1px black;
}

#skill-percent {
  background-color: #007bff;
}

div div div h1.mb-0 {
	font-size: 1.5rem
}

h2.accordion {
	font-size: 1.5rem;
  padding-top: 1.5rem;
}

img.rounded.rounded-circle.mt-4 {
	width: 55% !important;
	max-width: 150px !important;
}

.col-md-7.pt-2.mt-3 {
	flex: 0 0 78%;
	max-width: 78%;
}

div.panel.overflow-hidden {
  max-height: initial;
}
