body {
    font-family: Gotu;
    max-width: 60%;
    margin: auto;
    margin-top:2em;
    background-color: #fcfcfa;
    font-size: 1.15em;

}
h1 {
    font-weight: bolder;
    font-size: 250%;
}

p {
    font-size: 1em;
}

a { 
    text-decoration: underline; 
    font-weight: bold;
    # color: #037ffc;
    color:black;
}

ul {
  list-style-type: none;
}

li {
    padding: 1.0em;

}
li::marker {
  content: counter(list-item) "› ";
  color: slategray;
}

.icon{
    padding-right: 20;
    float: left;
    max-width: 48;
}

#menu a {
    padding: 0.25em;
}
