body {
    font-family: monospace, sans-serif;
    #letter-spacing: 0.01rem;
    max-width: 60%;
    margin: auto;
    margin-top:2em;
    background-color: #fcfcfa;
    font-size: 1.15em;

}

p {
    font-size: 1em;
}

a { 
    text-decoration: underline; 
    font-weight: bold;
    # color: #037ffc;
    color:black;
}

ul {
  list-style-type: none;
}

li {
    padding: 0.5em;
}
li::marker {
  content: counter(list-item) "› ";
  color: slategray;
}
