 

/* Header */
#header{font-size:11px;background:transparent;margin:0;padding:15px 12px 5px 0;clear:both;}
.rrWelcome{font-size:11px;background:transparent;margin:0;padding:5px 0;}
 #header h2, .rrWelcome h2{font-size:16px;font-weight:bold;margin:0 0 0 3px;padding:0;}
 
/* Step */
#step{width:98%;background:transparent;font-size:11px;margin:0;padding:10px 0 5px;white-space:nowrap;}
 #step h2{display:inline;font-size:14px;font-weight:bold;margin:0 10px 0 3px;;padding:0;}
  #step ul{display:inline;margin:0 0 0 0;padding:0;}
   #step li{background-image:url(/cam/images/earthlink/1.gif);font-size:14px;font-weight:bold;color:#999;display:inline;margin:0;padding:10px 0 10px 29px;}
   #step li.one{background-image: url(/cam/images/earthlink/1.gif);}
   #step li.two{background-image: url(/cam/images/earthlink/2.gif);}
   #step li.three{background-image: url(/cam/images/earthlink/3.gif);}
   #step li.four{background-image: url(/cam/images/earthlink/4.gif);}
   #step li.selectedOne{background-image: url(/cam/images/earthlink/1_selected.gif);color:#000;}
   #step li.selectedTwo{background-image: url(/cam/images/earthlink/2_selected.gif);color:#000;}
   #step li.selectedThree{background-image: url(/cam/images/earthlink/3_selected.gif);color:#000;}
   #step li.selectedFour{background-image: url(/cam/images/earthlink/4_selected.gif);color:#000;}    
    #step li{background-position:0 50%;background-repeat:no-repeat;}
  .spacer{margin-top:10px;}

/* Widget Header for w_payment  */
.tilehead2         {height:18px;width:auto;_width:100%;border-bottom:1px solid #983400;padding:1px 10px 0 10px;margin:0;text-align:left;color:#fff;font-weight:bold;background-color:#e35500;background-image:url(/cam/images/earthlink/tile.gif);-moz-box-sizing:border-box;white-space:nowrap;}
/* Explorer 5 hack \*/
 .tilehead2         {height:auto;_height:18px;} 
 /*	Explorer 5 Mac Hack
*/
.tilehead2 a		   {color:#fff;font-weight:bold;}
.tilehead2 .right   {position:absolute;right:10px;top:0px;}
   
/* Form Elements */
label{white-space:nowrap;font-weight:bold;}
.myAccountSignIn label{font-weight:normal;}
input.csv{width:30px;}
input.name{width:295px;background:transparent;border:0;margin-top:2px;}
input.phone{width:40px;}
input.phone2{width:55px;} 
input.routing{width:100px;padding-right:20px;} 
input.zip{width:85px;}

input.continue{padding:0;margin:5px 4px 30px 4px;}
input.mpn{padding:0;margin:5px 0;}
input.s{padding:0;margin:5px 4px;}   

table.verify label, table.verify input{white-space:nowrap;}


   
/* Table Elements*/
.oneColumn{clear:both;padding:0;margin:0 40px 20px 55px;-moz-box-sizing:border-box;}

.container{margin-left:80px;}
.contentTable td{vertical-align:top;}
.csv-image{width:170px;height:120px;background:url(/cam/images/earthlink/cc_csv.gif) 0 0 no-repeat;}

.myAccountBorder{width:100%;border:1px solid #983400;padding:0;margin:0 0 10px 0;-moz-box-sizing:border-box;}
.myAccountEditOr{width:100%;border-right:1px solid #919191;border-bottom:1px solid #919191;border-left:1px solid #919191;padding:0;margin:0 0 10px 0;-moz-box-sizing:border-box;}
.myAccountSignIn{width:400px;border:1px solid #983400;padding:0;margin:0 0 10px 0;-moz-box-sizing:border-box;}

.accountInfo{margin:0 0 5px 20px;}
 .accountInfo tbody, .accountInfo tr{padding:0;margin:0;}
 .accountInfo td{padding:0 3px;margin:0;}
 .accountInfo td b{text-align:right;font-weight:bold;}

#faq{margin-top:10px;}
.faq{}
 .faq .issue{padding-bottom:5px;}
 .faq p{padding-bottom:5px;margin:0;}
 .faq ul{margin-top:3px;margin-bottom:5px;} 
 .faq li{padding-bottom:3px;list-style:outside;}

.rows{margin:0 50px;}
 .rows td{padding:0;}
 .rows td.key{font-weight:bold;text-align:right;width:135px;}
 .rows td.value{width:235px;padding:0 12px;} 

table.header{width:90%;border:0;padding:0;margin:10px 0;}
table.header2{width:90%;border:0;padding:0;margin:10px 0 0 0;}
table.pad{padding:10px;width:100%;}

td.checkbox{padding:0 1px 10px 20px;}
td.field{padding:3px 0 2px 0;}
td.field2{padding:0 1px 10px 0;}
td.key{vertical-align:top;}
td.label{width:120px;font-weight:bold;text-align:right;vertical-align:top;margin:5px 0 0 0;padding:3px 5px 2px 75px;}
td.label2{width:140px;font-weight:bold;text-align:right;vertical-align:top;margin:5px 0 0 0;padding:3px 5px 2px 45px;}
td.radio2{padding-bottom:10px;}
td.search{padding:16px 12px;}
td.subtext{font-size:9px;margin:0;padding:0 0 3px 0;}
td.subtext2{font-size:9px;margin:0;padding:0 0 10px 0;}   
td.csv{background: url(/cam/images/earthlink/cc_csv.gif) 0 0 no-repeat;}
  
/* List Elements*/ 
ol.instructions{margin-top:0;padding-top:5px;}
ol.instructions li{padding-bottom:5px;}   
   
/* Text Elements*/ 
.acct{margin:0;font-weight:normal;line-height:150%}
 .acct b{text-align:right;width:190px;display:inline;}

.universalLinks a.first	{border-left:0;}
.or{text-align:center;padding:10px;font-weight:bold;}  
.error{margin-left:40px;font-weight:bold;}

.resolved{color:#3c3;font-weight:bold;background:transparent;padding-bottom:5px;}
.unresolved{color:#f33;font-weight:bold;background:transparent;padding-bottom:5px;}

.shadeff div {background-color:#fff;}
.shadeef div {background-color:#efefef;}

.clear{clear:both;}

/* Footer */
table.passfooter{border-bottom:1px solid #F96;}

div.greyFooter{background:#f6f6f6}
.greyFooter input{padding:0 4px;margin:0 4px;}
.greyFooter input.update{padding:0;}



/* Login page / Maintenance page */

  #CenterContent{width:773px;margin:0 auto;padding:0;}

  #signInWidget{margin:25px 0 25px 0;padding:0;background:transparent url(/cam/images/earthlink/signin-bg-lg.gif) no-repeat;width:562px;}
  #signInWidget , #promoWidget{float:left;}
  #signInWHWidget{margin:25px auto 0 auto;padding:0;background:transparent url(/cam/images/earthlink/signin-wh-bg-lg.gif) no-repeat;width:562px;}
  #signInFamWidget{margin:25px auto 0 auto;padding:0;background:transparent url(/cam/images/earthlink/signin-fam-bg-noBot.gif) no-repeat;width:562px;}
  #maintenanceWidget{margin:12px auto 45px auto;padding:0;background:transparent url(/cam/images/earthlink/maintenance-bg.gif) no-repeat;width:562px;}
  #accessNumberWidget{margin:25px auto 45px auto;padding:0;background:transparent url(/cam/images/earthlink/access-error-bg.gif) no-repeat;width:562px;}
  #promoWidget{margin:25px 0 25px 12px;padding:0;background:transparent url(/cam/images/earthlink/signin-promo-bg.gif) no-repeat;width:189px;}
  
   #signInWidget .widget, #signInWHWidget .widget, #signInFamWidget .widget, #maintenanceWidget .widget, #accessNumberWidget .widget, #promoWidget .widget2 {background:transparent;}
    #signInWidget .header, #signInWHWidget .header, #signInFamWidget .header, #maintenanceWidget .header, #accessNumberWidget .header, #promoWidget .header {margin:0;padding:0;}
     #signInWidget .content, #signInWHWidget .content, #signInFamWidget .content {background:transparent;clear:both;margin:0;padding:0;height:354px;width:560px;position:relative;}
       #signInWHWidget .content {height:384px;}
       #signInFamWidget .content{height:304px;}
       #signInFamWidget>.content{height:294px;}
       #signInWidget>.content, #signInWHWidget>.content{height:344px;}
     #maintenanceWidget .content{background:transparent;clear:both;margin:0;padding:0;height:164px;width:560px;position:relative;}
      #accessNumberWidget .content{background:transparent;clear:both;margin:0;padding:0;height:140px;width:560px;position:relative;}
       .left {margin:0;padding:0;float:left;text-align:left;}
         .content .left{margin:105px 0 0 23px;padding:0 5px;width:254px;}
         .content h4{font-size:12px;color:#f60;padding:0 0 2px 0;margin:0;}
         .content ul{list-style:none;padding:0;margin:5px 0 0 10px;}
         .content li{font:normal 11px arial;background:url(/cam/images/earthlink/dot.gif) no-repeat 3px 2px;line-height:.9em;padding:0 0 11px 17px;margin:0;}
     #signInWHWidget .content li{font-size:12px;padding-bottom:30px;line-height:1.2em;}
     #signInFamWidget ul{padding:0;margin:15px 0 0 0;}
     #signInFamWidget li{font-weight:bold;font-size:12px;color:#f60;background:url(/cam/images/earthlink/dot.gif) no-repeat 0% 75%;padding:0 0 0 11px;margin:0 0 8px 0;position:relative;}
     #signInFamWidget li.last{background:url(/cam/images/earthlink/dot.gif) no-repeat 0% 60%;margin-top:4px;}
     #signInFamWidget li a{color:#f60;text-decoration:none;padding-right:3px;}
       .right {margin:0;padding:0;float:right;text-align:left;}
         .content .right{margin:65px 24px 0 0;padding:15px 10px 10px 10px;height:200px;width:215px;font:normal 11px arial;}
         #signInWHWidget .content .right{font-size:12px;height:240px;}
         label, .content div{display:block;background:transparent;}
         input.domain, input.username, input.password{width:180px;}
         #signInWHWidget input.username, #signInWHWidget label.username{color:#999;}
         input.checkbox, label.normal{display:inline;}
         label{font-weight:bold;}
         label.normal{font-weight:normal;}
         .notes{font-size:10px;padding-bottom:10px;}
       .service{margin:25px 0 0 40px;padding:0 5px;width:469px;float:left;text-align:left;background:transparent;}  
         .content .service h4{font-size:12px;color:#006;padding:0 0 16px 0;margin:0;}
         .service p{margin:0 0 12px 0;padding:0;}
       .alert{margin:75px 0 0 32px;padding:0 5px;width:469px;float:left;text-align:left;background:transparent;}
         .content .alert h4{font-size:12px;color:#006;padding:0 0 16px 0;margin:0;}
         .alert p{margin:0;padding:0;}
    #signInWidget .footer, #signInWHWidget .footer, #signInFamWidget .footer, #maintenanceWidget .footer, #accessNumberWidget .footer,#promoWidget .footer {margin:0;padding:0;clear:both;background:#fff url(/cam/images/earthlink/signin-footer-bg.gif);height:19px;}

  #promoWidget .content {clear:both;height:318px;*height:336px;background-color:transparent;margin:0;padding:20px 14px 14px;position:relative;}
     .widget2 .content{width:165px;border:0;}
     .widget2>.content{min-height:200px;height:230px;}
     .widget2  span{width:152px;float:left;padding:0 15px 20px;}
     .widget2  span h4{font-weight:normal;font-size:12px;text-align:left;color:#f60;padding:2px 0;margin:0;}
     .widget2 span img{}
     .widget2 span a{width:152px;font-size:12px;display:block;text-align:left;}
    
    div.bottom-links{clear:both;margin:16px auto 10px auto;padding:0;width:500px;}
    .content>.bottom-links{margin-top:0;}
      .bottom-links h3{font-size:12px;padding:0;margin:0 auto 3px;width:100%;text-align:center;}
      .bottom-links>h3{padding:9px 0 0;}
      .bottom-links h4{font-size:12px;padding:0;margin:0 auto 10px auto;width:100%;text-align:center;}
      .bottom-links table.products{margin:0;}  
      .bottom-links table.tools td, .bottom-links table.products td{text-align:left;margin:0;padding:0;}
      .bottom-links table.products td{padding:0 5px 0 0;}
      .bottom-links table.products li, .bottom-links table.tools li{background-image:none;list-style-type:disc;line-height:1.5em;margin:0;padding:0;}   
      .bottom-links hr{color:#D8D8D8;width:560px;height:1px;margin:15px 0;}
      .bottom-links ul {margin:0;padding-bottom:0;padding-left:2em;}
      ul li.column1 {width:20em;}
      ul li.column2 {width:20em;}

      ul.products li.column2{width:12em;}
      ul li.column3 {width:20em;}
      .bottom-links table.products li a, .bottom-links table.tools li a{clear:both;display:block;font-weight:bold;white-space:nowrap;}
      #signInWHWidget .bottom-links ul {padding-left:2em;padding-right:1em;}
      #signInWHWidget .bottom-links li{padding-bottom:0;}
      #signInWHWidget ul li.column1 {width:auto;}
      #signInWHWidget ul li.column2 {width:auto;}
      
#throbber {height:12px;padding:1px 0px;}
/*Invoice */

.invoiceTilehead {
	text-decoration:none;
}
